[project]
name = "omserver"
version = "0.1.0"
description = "Default template for PDM package"
authors = [
    {name = "TonyNMS", email = "j.li@ncl-marine.com"},
]
dependencies = []
requires-python = "==3.12.*"
readme = "README.md"
license = {text = "MIT"}

[tool.pdm]
distribution = false
